/* --------------------------------------------------------------------
* - import fonts
---------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


@font-face {
    font-family: 'Banana Yeti';
    src: url('../fonts/bananaYeti/BananaYeti-ExtraBold.woff2') format('woff2'),
         url('../fonts/bananaYeti/BananaYeti-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* --------------------------------------------------------------------
* - variables
---------------------------------------------------------------------- */
:root{
    --color-azul:        #2e4491;
    --color-azul-claro:  #7ca1be;
    --color-azul-escuro: #2b3558;
    --color-cinza:       #efefef;
    --color-vermelho:    #c20016;
    --color-verde:       #44802f;
    --color-laranja:     #f15e33;
    --color-roxo:        #8d2562;
    --color-vinho:       #860010;
}

.text-app-azul       { color: var(--color-azul);}
.text-app-azul-claro { color: var(--color-azul-claro);}
.text-app-azul-escuro{ color: var(--color-azul-escuro);}
.text-app-cinza      { color: var(--color-cinza);}
.text-app-vermelho   { color: var(--color-vermelho);}
.text-app-verde      { color: var(--color-verde);}
.text-app-laranja    { color: var(--color-laranja);}
.text-app-roxo       { color: var(--color-roxo);}
.text-app-vinho      { color: var(--color-vinho);}

.bg-app-azul       { background-color: var(--color-azul);}
.bg-app-azul-claro { background-color: var(--color-azul-claro);}
.bg-app-azul-escuro{ background-color: var(--color-azul-escuro);}
.bg-app-cinza      { background-color: var(--color-cinza);}
.bg-app-vermelho   { background-color: var(--color-vermelho);}
.bg-app-verde      { background-color: var(--color-verde);}
.bg-app-laranja    { background-color: var(--color-laranja);}
.bg-app-roxo       { background-color: var(--color-roxo);}
.bg-app-vinho      { background-color: var(--color-vinho);}

/* --------------------------------------------------------------------
* - body
---------------------------------------------------------------------- */
html{
    height: 100%;
}

body{
    position: relative;
    background-color: var(--color-cinza);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-app {
    flex: 1;
    padding-top: 6.5rem;
    padding-bottom: 1rem;
}

/* --------------------------------------------------------------------
* - Scrollbar CSS v1.2
* - Last update: 06 jul 2021
* - Rogerio Saraceni
* -------------------------------------------------------------------- */
:root {
    --scrollbar-bg: #f7f2f2;
    --scrollbar-bg-track: #bebcbc;
    --scrollbar-bg-thumb: #bbb5b5;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-bg-track) var(--scrollbar-bg);
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar { height: 10px;}
::-webkit-scrollbar-track { background: var(--scrollbar-bg);}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--scrollbar-bg-track);
}

/* --------------------------------------------------------------------
* - breadcrumb-app
---------------------------------------------------------------------- */
.breadcrumb-app .card.card-body {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.breadcrumb-app .card.card-body .breadcrumb{
    margin: 0;
    font-size: 0.8rem;
}
.breadcrumb-app .breadcrumb li,
.breadcrumb-app .breadcrumb li a,
.breadcrumb-app .breadcrumb-item+.breadcrumb-item::before{
    color: #888;
    font-size: 1rem;
    letter-spacing: -.025rem;
    text-decoration: none;
}
.breadcrumb-app .breadcrumb-item+.breadcrumb-item.active {
    color: var(--color-roxo)!important;
    font-weight: bold;
}

/* --------------------------------------------------------------------
* - card
---------------------------------------------------------------------- */
.card {
    margin-bottom: 1rem;
    border-color: #f9f0f0 !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}

/* --------------------------------------------------------------------
* - section-title
---------------------------------------------------------------------- */
.section-title {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.section-title .title {
    font-size: 1.1rem;
    color: var(--color-roxo);
}

.section-title:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 50px;
    height: 0;
    border-top: 2px solid var(--color-roxo) ;
    transition: height 0.3s, bottom, top ease 0s;
    z-index: 0
}

/* --------------------------------------------------------------------
* - btn
---------------------------------------------------------------------- */
.btn-small{
    padding: .105rem .45rem;
}
.btn-transparent{
    border: none;
    background-color: transparent;
}
.btn-clearfix {
    margin-top: 3px;
    margin-bottom: 0;
}
@media(max-width: 1200px){ .btn-last-xl{ float: right;}}
@media(max-width: 992px) { .btn-last-lg{ float: right;}}
@media(max-width: 768px) { .btn-last-md{ float: right;}}
@media(max-width: 576px) { .btn-last-sm{ float: right;}}
